<div class="page home-page">
    <div class="home-content">
        <div class="d-flex container full-height">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 home-display">
                    <div class="home-title"
                    data-aos="fade-up"
                    data-aos-delay="500"
                    data-aos-duration="3000">
                        <h2 class="small-line mb30" style="text-transform: uppercase;
                        font-size: 40px;">
                            <span><strong>MASSIL</strong> - Tecnologia ao Serviço da Agricultura</span> 
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-about">
    <div class="container">
        <h2 class="home-about-title">Quem Somos</h2>
        <hr class="page-divider">
    </div>
    <div class="container mb-5">
        <div class="d-flex col-12 row">
            <div class="col-md-2 col-sm-0"></div>
            <div class="col-md-8 col-sm-12">
                <h4 class="m-0 mt-4">A <strong>MASSIL</strong> é uma empresa especializada na produção de máquinas e alfaias agrícolas de alta qualidade, com uma vasta experiência e história no setor agrícola. A qualidade dos nossos produtos e o nosso compromiso em agradar o cliente são os nossos principais fatores diferenciadores.</h4>
                <div class="d-flex justify-content-center">
                    <img src="/assets/img/company.png" class="home-about-img">
                </div>
            </div>
            <div class="col-md-2 col-sm-0"></div>
        </div>
    </div>
</div>

<div class="home-history">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="/assets/img/welder.jpg" alt="Image " class="img-fluid home-history-img">
            </div>
            <div class="col-lg-5 ml-auto">
                <h2 class="global-color mt-0">Mais de <strong>30 anos</strong> de experiência e de inovação</h2>
                <p class="text-white">A MASSIL foi fundada em Abril de 1989 pelo seu principal protagonista
                    Manuel Lopes Silva,
                    e desde então tem apostado num crescimento sustentado na qualidade, na inovação 
                    e principlamente na satisfação dos seus clientes.
                </p>
            </div>
            <div class="col-12 home-history-box-content">
                <div class="col-md-4 col-sm-12 mt-2">
                    <fieldset class="home-history-box">
                        <legend class="home-history-title">Conhecimento</legend>
                        <span class="home-history-text">
                            Os nossos profissionais possuem o conhecimento necessário para enfrentar 
                            facilmente os desafios diários que a empresa lhes apresenta, 
                            sendo uma parte ativa da inovação da empresa e do sector.
                        </span>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12 mt-2">
                    <fieldset class="home-history-box">
                        <legend class="home-history-title">Qualidade</legend>
                        <span class="home-history-text">
                            Os nossos produtos são rigorosamento inspecionados desde o início da produção até ao produto final,
                            porque acreditamos que a qualidade é um dos principais fatores responsáveis pela satisfação dos nossos clientes.
                        </span>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12 mt-2">
                    <fieldset class="home-history-box">
                        <legend class="home-history-title">Rapidez</legend>
                        <span class="home-history-text">
                            Os nossos profissionais possuem o conhecimento necessário para enfrentar 
                            facilmente os desafios diários que a empresa lhes apresenta, 
                            sendo uma parte ativa da inovação da empresa e do sector.
                        </span>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-product">
    <div class="container">
        <h2 class="home-product-title">Produtos</h2>
        <hr class="page-divider">
        <div class="d-flex flex-wrap mb-5 mt-5">
            <div class="col-md-5 col-sm-12 home-product-box">
                <div class="home-product-content">
                    <img src="/assets/img/loader.png" class="home-product-img" alt="">
                    <span class="home-product-img-title">
                        Carregadores Frontais
                    </span>
                    <div class="col home-product-img-description">
                        <ul class="home-product-img-list">
                            <li class="home-product-img-text">
                                <span class="global-color">✓ </span>
                                4 CILINDROS DUPLO EFEITO
                            </li>
                            <li class="home-product-img-text">
                                <span class="global-color">✓ </span>
                                MONTAGEM COMPACTA
                            </li>
                            <li class="home-product-img-text">
                                <span class="global-color">✓ </span>
                                A PARTIR DOS 50 CV
                            </li>
                        </ul>
                        <button class="home-product-img-btn">
                            <span class="float-right">
                                Saber mais
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 col-sm-12 home-product-box">
                <div class="home-product-content">
                    <img src="/assets/img/trailer.png" class="home-product-img" alt="">
                    <span class="home-product-img-title">
                        Reboques
                    </span>
                    <div class="col home-product-img-description">
                        <ul class="home-product-img-list">
                            <li class="home-product-img-text">
                                <span class="global-color">✓ </span>
                                4 CILINDROS DUPLO EFEITO
                            </li>
                            <li class="home-product-img-text">
                                <span class="global-color">✓ </span>
                                MONTAGEM COMPACTA
                            </li>
                            <li class="home-product-img-text">
                                <span class="global-color">✓ </span>
                                A PARTIR DOS 50 CV
                            </li>
                        </ul>
                        <button class="home-product-img-btn">
                            <span class="float-right">
                                Saber mais
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div> 
        <div class="d-flex flex-wrap mb-5">
            <div class="col-md-5 col-sm-12 home-product-box">
                <div class="home-product-content">
                    <img src="/assets/img/loader.png" class="home-product-img" alt="">
                    <span class="home-product-img-title">
                        Cisternas
                    </span>
                    <div class="col home-product-img-description">
                        <ul class="home-product-img-list">
                            <li class="home-product-img-text">
                                <span class="global-color">✓ </span>
                                4 CILINDROS DUPLO EFEITO
                            </li>
                            <li class="home-product-img-text">
                                <span class="global-color">✓ </span>
                                MONTAGEM COMPACTA
                            </li>
                            <li class="home-product-img-text">
                                <span class="global-color">✓ </span>
                                A PARTIR DOS 50 CV
                            </li>
                        </ul>
                        <button class="home-product-img-btn">
                            <span class="float-right">
                                Saber mais
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 col-sm-12 home-product-box">
                <div class="home-product-content">
                    <img src="/assets/img/loader.png" class="home-product-img" alt="">
                    <span class="home-product-img-title">
                        Alfaias Agrícolas
                    </span>
                    <div class="col home-product-img-description">
                        <ul class="home-product-img-list">
                            <li class="home-product-img-text">
                                <span class="global-color">✓ </span>
                                4 CILINDROS DUPLO EFEITO
                            </li>
                            <li class="home-product-img-text">
                                <span class="global-color">✓ </span>
                                MONTAGEM COMPACTA
                            </li>
                            <li class="home-product-img-text">
                                <span class="global-color">✓ </span>
                                A PARTIR DOS 50 CV
                            </li>
                        </ul>
                        <button class="home-product-img-btn">
                            <span class="float-right">
                                Saber mais
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 home-newsletter-box">
                <img src="/assets/img/paperPlane.svg" class="home-newsletter-img" alt="">
                <h2 class="text-center">Receba noticias nossas!</h2>
                <hr class="page-divider">
                <div class="form-inline d-flex">
                    <input type="email" class="form-control mr-0 mr-sm-2 mb-3 mb-sm-0 home-newsletter-email" 
                    placeholder="Inserir email">
                    <button class="btn home-newsletter-subscribe">
                        <span> Subscrever </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


