<div class="page product-page">
    <div class="container">
        <h2 class="text-center">Produtos</h2>
        <hr class="page-divider">
        <div class="col-12 product-content">
            <div class="container">
                <div class="row">
                   <div class="col-lg-6">
                      <div class="product-left">
                         <img src="assets/img/loader.png" alt="about" class="product-img">
                      </div>
                   </div>
                   <div class="col-lg-6">
                      <div class="product-right">
                         <div class="product-heading">
                            <h4 class="product-title">Sobre o produto</h4>
                            <h2 class="product-subTitle">Carregador Frontal - Massil</h2>
                            <span class="product-divider"></span>
                         </div>
                         <p class="product-description">Carregador frontal, 4 cilindros duplo efeito, montagem compacta.</p>
                         <p class="product-description"> Disponível em vários modelos de acordo com a potencia do trator e da necessidade de carga.</p>
                         <ul class="product-list">
                            <li class="product-list-content">
                                <span class="global-color">✓ </span> Sistema de engate rápido do acessório</li>
                            <li class="product-list-content">
                                <span class="global-color">✓ </span> Braços em aço de alto limite elástico</li>
                            <li class="product-list-content">
                                <span class="global-color">✓ </span> Comando independente ou comando na cabine do trator</li>
                            <li class="product-list-content">
                                <span class="global-color">✓ </span> Ampla gama de acessórios</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
        </div>
    </div>
</div>