<div class="page gallery-page">
    <h2 class="text-center">Galeria</h2>
    <hr class="page-divider">

    <div class="container gallery-content">
        <!-- <ul class="portfolio-categ filter mb-md-5 mb-4 p-0 justify-content-center">
            <li class="port-filter all active">
                <a href="#">All</a>
            </li>
            <li class="cat-item-1">
                <a href="#" title="Category 1">Nature</a>
            </li>
            <li class="cat-item-2">
                <a href="#" title="Category 2">Fashion</a>
            </li>
            <li class="cat-item-3">
                <a href="#" title="Category 3">Wedding</a>
            </li>
            <li class="cat-item-4">
                <a href="#" title="Category 4">Studio</a>
            </li>
        </ul> -->
        <ul class="gallery-area clearfix p-0 m-0">
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p1.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p1.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p2.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p2.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p3.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p3.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p4.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p4.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p5.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p5.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p6.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p6.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p7.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p7.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p8.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p8.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p9.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p9.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
        </ul>
    </div>
</div>