<div class="page about-page">
    <div class="container">
        <h2 class="text-center">Sobre</h2>
        <hr class="page-divider">
        <div class="col-lg-12 about-content">
            <ul class="about-timeline">
                <li>
                    <div class="about-timeline-image">
                        <img class="rounded-circle img-fluid" src="images/1.jpg" alt="" style="border-radius: 50%!important;">
                    </div>
                    <div class="about-timeline-panel">
                        <div class="about-timeline-heading">
                            <h4>Julho 1989</h4>
                            <h4 class="about-timeline-subheading">Fundação da MASSIL</h4>
                        </div>
                        <div class="about-timeline-body">
                            <p class="text-muted">Fundada em 1989 pelo seu principal protagonista Manuel Lopes Silva e foi fruto de uma longa experiência acumulada no sector agrícola e serralharia civil.</p>
                        </div>
                    </div>
                </li>
                <li class="about-timeline-inverted">
                    <div class="about-timeline-image">
                        <img class="rounded-circle img-fluid" src="images/2.jpg" alt="" style="border-radius: 50%!important;">
                    </div>
                    <div class="about-timeline-panel">
                        <div class="about-timeline-heading">
                            <h4>Agosto 1995</h4>
                            <h4 class="about-timeline-subheading">Reboques e cisternas agrícolas</h4>
                        </div>
                        <div class="about-timeline-body">
                            <p class="text-muted">Primeiro reboque e primeira cisterna agrícola produzida pela MASSIL</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="about-timeline-image">
                        <img class="rounded-circle img-fluid" src="images/3.jpg" alt="" style="border-radius: 50%!important;">
                    </div>
                    <div class="about-timeline-panel">
                        <div class="about-timeline-heading">
                            <h4>Dezembro 2015</h4>
                            <h4 class="about-timeline-subheading">Sistema de Gestão de Qualidade</h4>
                        </div>
                        <div class="about-timeline-body">
                            <p class="text-muted">Implementação do Sistema de Gestão da Qualidade com o objetivo de prestar cada vez mais e melhores serviços aos nossos clientes</p>
                        </div>
                    </div>
                </li>
                <li class="about-timeline-inverted">
                    <div class="about-timeline-image">
                        <img class="rounded-circle img-fluid" src="images/4.jpg" alt="" style="border-radius: 50%!important;">
                    </div>
                    <div class="about-timeline-panel">
                        <div class="about-timeline-heading">
                            <h4>Agosto 2018</h4>
                            <h4 class="about-timeline-subheading">Ampliação Instalações</h4>
                        </div>
                        <div class="about-timeline-body">
                            <p class="text-muted">Ampliação das instalações de forma a aumentar a capacidade produtiva</p>
                        </div>
                    </div>
                </li>
                <li class="about-timeline-inverted">
                    <div class="about-timeline-image">
                        <h4>Faça parte<br>da nossa<br>história!</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>